[Desktop Entry]
Comment=Peace Color Global Theme
Name=Peace-Color-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Peace-Color-Global
X-KDE-PluginInfo-Version=7.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1770336,kns://colorschemes.knsrc/api.kde-look.org/1770334,kns://plasma-themes.knsrc/api.kde-look.org/1873556,kns://icons.knsrc/api.kde-look.org/1873545,kns://icons.knsrc/api.kde-look.org/1633305,kns://icons.knsrc/api.kde-look.org/1633309,kns://aurorae.knsrc/api.kde-look.org/1873541,kns://aurorae.knsrc/api.kde-look.org/1873539,kns://aurorae.knsrc/api.kde-look.org/1873540,kns://wallpaper.knsrc/api.kde-look.org/1873553,kns://wallpaper.knsrc/api.kde-look.org/1873535,kns://sddmtheme.knsrc/api.kde-look.org/1873537
